*{
    margin: 0;
    padding: 0;
}

.loginContainer{
    background: rgb(21,143,126);
    background: linear-gradient(357deg, rgba(21,143,126,1) 16%, rgba(221,222,221,1) 76%);
    width: 100%;
    height: 100vh;
}

.homePage{
    background: rgb(255,255,255);
    background: linear-gradient(357deg, rgba(255,255,255,1) 23%, rgba(231,186,75,1) 100%);
}

/* Logo */
.logo{
  display: flex;
    justify-content: center;

}

/*logoHome*/

.logoHome{
    display: flex;
    justify-content: center;
}
.logoimg1{
   
    width: 170px;
    height: 110px;
    margin-top: 10px;
}





@media (max-width: 600px) {

    .logoimg{
        width: 200px;
    } 
  
   

    
}
    




/* Header inicio - Login*/

.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 0px;
    font-family: 'Bangers', cursive;

}

.trab{
    display: flex;
    justify-content: center;
    font-size: 15px;
    
   
}
.login{
    display: flex;
    justify-content: center;
}

.InRe{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.form-grup{
    display: flex;
    justify-content: center;
}


/* form*/

.form{width: 300px;}


/*Boton cerrar sesion*/



.cerrarSesion{
    border-radius: 10px 100px / 120px;
    inline-size: 100px;
    background: #189688;
    color: black;
    font-size: 15px;
    font-family: 'Bangers', cursive;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.cerrarSesion:hover{
    background: red;
    color: white;
}


/*Home - reloj*/

.main_time{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 50px;
    font-family: 'Bangers', cursive;

}

.main_date{
    padding-top:0px;
    padding-bottom: 10px;
    font-family: 'Bangers', cursive;
    display: flex;
    justify-content: center;
    
}

/*Bienvenido*/

.bienvenido{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Bangers', cursive;

}

.finalidad{
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    text-decoration-line: unset;
 

}

/*Botones */

/*Boton tabla salarial*/

.pedidaDatos{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 35px;
    border-radius: 10px 100px / 120px;
    inline-size: 200px;
    background: #189688;
    color: black;
    font-size: 15px;
    font-family: 'Bangers', cursive;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pedidaDatos:hover{
    background:#0B7463;
    color: white;
}


/*Tabla salarial*/

.categoria,.totalHora{
    font-family: 'Bangers', cursive;
    font-size: 20px;
}  

#tabla{
    display: none;
}

/*Calcular mi sueldo*/

#calculadora{
    display: none;
}
/*Formulario de calculadora*/
.formulario{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    

}

.select{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    inline-size: 130px;
    background: #7FCCBB;
    color: black;
    font-size: 15px;
    font-family: 'Bangers', cursive;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.letrasForm{
    font-family: 'Bangers', cursive;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.resultado{
    font-family: 'Bangers', cursive;
    font-size: 20px;
    background: #E5B33A;
    margin-top: 10px;
    border-radius: 7px;
}

.resultado:hover{
    background:  #ECC85E;
    color: black;
}

.result{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: 'Bangers', cursive;

}
